<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>newCandidate.html</welcome-file>
    <welcome-file>newCandidate.jsp</welcome-file>
    <welcome-file>removeCandidate.html</welcome-file>
    <welcome-file>removeCandidate.jsp</welcome-file>
    <welcome-file>editCandidate.html</welcome-file>
    <welcome-file>editCandidate.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Electionmachine</servlet-name>
    <servlet-class>electionmachine.Electionmachine</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>newCandidate</servlet-name>
    <servlet-class>electionmachine.newCandidate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteCandidate</servlet-name>
    <servlet-class>electionmachine.deleteCandidate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editCandidate</servlet-name>
    <servlet-class>electionmachine.editCandidate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>jersey-servlet</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>rest</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Electionmachine</servlet-name>
    <url-pattern>/election-machine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jersey-servlet</servlet-name>
    <url-pattern>/rest/election-machine/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>newCandidate</servlet-name>
    <url-pattern>/new-candidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteCandidate</servlet-name>
    <url-pattern>/delete-candidate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editCandidate</servlet-name>
    <url-pattern>/edit-candidate</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>